<nav class="nav grid">

    <h2>NgVGDB</h2>

        <div class="games">
            <ul class="nav">
                <li><a [routerLink]="['inicio']">Inicio</a></li>
                <li><a [routerLink]="['juegos']">Juegos Moda</a></li>
                <li><a [routerLink]="['registrarse']">Registrarse</a></li>
                <li><a href="">Tipos</a>
                    <ul>
                        <li>Name</li>
                        <li>Released</li>
                        <li>Added</li>
                        <li>Created</li>
                        <li>Updated</li>
                        <li>Rating</li>
                        <li>Metacritic</li>
                    </ul>
                </li>
            </ul>
            
            
            
            
        </div>

        
        <div class="div">
            <img class="imgSearch" src="https://cdn-icons-png.flaticon.com/128/751/751463.png" alt="">
            <input class="input" type="search" placeholder="Search games">
        </div>
    

</nav>
