.nav{
    background-color: #E0FBFC;
    height: 1.5cm;
    color: #293241;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

li{
    list-style: none;
}

.nav li {
    background-color: #E0FBFC;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    
}

.nav li ul li:hover{
    text-decoration: underline;
    color: purple;
}

.nav>li{
    float: left;
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul{
    display: block;
}

.imgMenu{
    width: 30px;
    height: 30px;
}

.imgSearch{
    width: 20px;
    height: 20px;
}

.div{
    display: flex;
    flex-direction: row;
}

.input{
    background-color: #E0FBFC;
    border: #293241 solid;
    border-radius: 50px;
    width: 3cm;
    text-align: end;
}

.games {
    display: flex;
    flex-direction: row;
    
}

.games a{
    margin: 5px;
    text-decoration: none;
    color: #293241;
}

.games a:hover{
    margin: 5px;
    text-decoration: underline;
    color: purple;
}

