

<div class="grid">
   <div class="input"><app-section2></app-section2></div>
   <div class="input"><app-section1 [nombreJuego]="'XXXXXXXX'" [imagenJuego]="'https://www.colorcombos.com/images/colors/EE6C4D.png'"></app-section1></div>
   <div class="input"><app-section1 [nombreJuego]="'XXXXXXXX'" [imagenJuego]="'https://www.colorcombos.com/images/colors/EE6C4D.png'"></app-section1></div>
   <div class="input"><app-section1 [nombreJuego]="'XXXXXXXX'" [imagenJuego]="'https://www.colorcombos.com/images/colors/EE6C4D.png'"></app-section1></div>

</div>